* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
 }
 
 /* Variables */
 
 :root {
     --main-color: #b6abb5;
     --main-text-color: #FFF;
     --border-color: #FFF;
     --bio-bg-color: #252d38;
     --bio-border-color: #39424d;
     --about-bg-color: #27282b;
 }
 
 /* cor do texto destacado  */
 .destacar {
     color: var(--main-color);
 }
 
 /* Container e a bio do texto */
 #container {
     display: flex;
     flex-direction: row;
     color: var(--main-text-color);
 }
 
 #bio {
     flex: 1 1 20%;
     min-height: 100vh;
     background-color: var(--bio-bg-color);
     text-align: center;
     padding: 30px 12px;
     border-right: 5px solid var(--bio-border-color);
 }
 
 #about-container {
     flex: 1 1 80%;
     min-height: 100vh;
     height: 100%;
     background-color: var(--about-bg-color);
     padding: 50px;
 }
 
 /* minha Bio */
 #bio h2 {
     margin-bottom: 25px;
 }
 
 #bio p {
     margin-bottom: 20px;
 }
 
 #bio #bem-vindos {
     font-weight: bold;
 }
 
 #imagem-curriculo {
     width: 175px;
     height: 180px;
     border-radius: 50%;
 }
 
 #redes{
     display: flex;
     justify-content: center;
     list-style: none;
     border-bottom: 1px solid var(--border-color);
     margin-bottom: 25px;
     padding-bottom: 25px;
     cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s all ease-in-out;
     
 }

  


 #redes li :hover {
    transform: scale(1.1);
     flex: 1 1 0;
     max-width: 60px;
 }
 
 #redes li a {
     color: var(--main-color);
     font-size: 30px;
 }
 
 #email:hover{
    transform: scale(1.0);
    justify-content: center;
}
 
 #email ion-icon,
 #email a {
     flex: 1 1 0;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s all ease-in-out;
}
    

     

 #email a {
     color: var(--main-text-color);
     text-decoration: none;
     max-width: 225px;
 }
 
 #email ion-icon {
     color: var(--main-color);
     font-size: 20px;
     margin-right: 5px;
     max-width: 20px;
 }
 
 /* About container */
 #meu-nome {
     font-size: 42px;
     margin-bottom: 15px;
 }
 
 #titulo {
     font-size: 24px;
     margin-bottom: 15px;
     font-weight: bold; 
 }
 
 .descricao {
     max-width: 75%;
     margin-bottom: 10px;
 } 
 .descricao a {
    color: var(--main-text-color);
    max-width: 500px;
    color: #b6abb5;
    text-decoration: none;
 }

 #botao-projeto:hover {
     background-color: transparent;
     transform: scale(1.1);
 }
 
 #botao-projeto {
     font-weight: bold;
     font-size: 16px;
     color: var(--main-text-color);
     background-color: var(--main-color);
     border: 2px solid var(--main-color);
     border-radius: 5px;
     text-decoration: none;
     transition: .5s;
     margin: 25px 0;
     padding: 12px 10px;
     width: 150px;
     text-align: center;
     display: flex;
     
 }
 
 #botao-projeto ion-icon,
 #botao-projeto span {
     flex: 1 1 0;
 }
 
 #botao-projeto ion-icon {
     font-size: 20px;
     max-width: 20px;
 }
 

 
 #skills-section-title { 
     border-top: 1px solid var(--border-color);
     padding-top: 20px;
     margin-bottom: 20px;
     font-size: 32px;
 }
 
 #sub-container {
     display: flex;
     flex-wrap: wrap;
     margin-top: 25px;
 }
 
 .skills-box {
     flex: 1 1 33%;
     max-width: 33%;
     margin-bottom: 35px;
 }
 
 .skills-title {
     font-size: 24px;
     margin-bottom: 25px;
     font-weight: bold;
     padding-left: 10px;
     border-left: 5px solid var(--main-color);
 }
 
 .skills-box i {
     font-size: 45px;
     margin-right: 10px;
 
 }
 
 /* Mobile */
 
 @media(max-width: 450px) {
 
     #container {
         flex-direction: column;
     }
 
     #bio {
         min-height: auto;
         border-right: none;
         border-bottom: 5px solid var(--bio-border-color);
     }
 
     #bio h2 {
         display: none;
     }
 
     #bio p {
         max-width: 60%;
         margin: 10px auto;
     }
 
     #sub-container {
         text-align: center;
         padding: 30px;
     }
 
     #sub-container .descricao {
         text-align:center;
         max-width: 100%;
         line-height: 26px;
     }
 
     #botao-projeto {
         margin: 20px auto;
     }
 
     .skills-box {
         flex: 1 1 100%;
         max-width: 100%;
         margin-bottom: 40px;
         text-align: left;
     }
 
     .skills-box i {
         font-size: 60px;
     }
 
 }